@model SolarWatch_MVC.Models.City

<h1>City Details</h1>
<p>Name: @Model.Name</p>
<p>Country: @Model.Country</p>
<p>Latitude: @Model.Latitude</p>
<p>Longitude: @Model.Longitude</p>
<p>State: @Model.State</p>
